---
import { LayoutCard } from "../../react/components/laboral-experience/LayoutCard";
---

<div class="container grid content-center h-auto">
  <div class="grid text-4xl text-white underline underline-offset-4 font-semibold pb-4">
    Experiencia Laboral
  </div>
  <div class="grid sm:grid-cols-1 sm:gap-3 md:grid-cols-2 md:gap-5 lg:grid-cols-3 lg:gap-5
   text-3xl">
    <LayoutCard client:load />
  </div>
</div>