---
import { LayoutCard } from "../../react/components/certifications/LayoutCard";
---

<div class="h-auto">
  <div class="text-4xl text-white underline underline-offset-4 font-semibold pb-4">
    Certificaciones y Cursos
  </div>
  <div class="text-3xl border-purple-950 border-2 bg-gradient-to-b from-cyan-950 to-gray-800">
    <LayoutCard client:load />
  </div>
</div>