<div class="h-96 flex items-center justify-center text-white">
  <div class="flex flex-col items-center max-w-screen-lg relative">
    <div class="relative mb-4">
      <div class="absolute top-0 left-0 border-l-2 border-t-2 border-purple-800 h-8 w-8 rounded-tl-md"></div>
      <div class="absolute top-0 right-0 border-r-2 border-t-2 border-purple-800 h-8 w-8 rounded-tr-md"></div>
      <div class="absolute bottom-0 left-0 border-l-2 border-b-2 border-purple-800 h-8 w-8 rounded-bl-md"></div>
      <div class="absolute bottom-0 right-0 border-r-2 border-b-2 border-purple-800 h-8 w-8 rounded-br-md"></div>
      <img src="https://media.licdn.com/dms/image/D4E03AQGXHnjPqBbAug/profile-displayphoto-shrink_200_200/0/1682124500131?e=1712793600&v=beta&t=VvLq8z5Mo-jYMh3MvjA3HRrCgWm9mD9s7drsr8WnYs0" alt="Avatar" class="h-24 w-24 rounded-full border-4 border-purple-950 z-10">
    </div>
    <h1 class="text-4xl font-bold mb-2">Vicente Moyano</h1>
    <div class="max-w-screen-md">
      <p class="text-lg text-justify">¡Hola! <span class="text-orange-300 icon-[mdi--hand-wave]"></span> Soy un programador con 6+ años de experiencia, con un enfoque creciente en desarrollo backend y orquestación de servicios con Kubernetes. También he incursionado en la arquitectura de software en los últimos años. Apasionado por Node.js y TypeScript, siempre estoy buscando aprender y crecer profesionalmente.</p>
    </div>
    <div class="flex justify-center mt-4">
      <a href="https://github.com/usuario" target="_blank" rel="noopener noreferrer" class="text-white mr-4 hover:text-rose-600">
        <span class="text-4xl icon-[mdi--github]"></span>
      </a>
      <a href="https://linkedin.com/in/usuario" target="_blank" rel="noopener noreferrer" class="text-white hover:text-blue-500">
        <span class="text-4xl icon-[mdi--linkedin]"></span>
      </a>
    </div>
  </div>
</div>