<footer class="bg-gray-900 text-white py-6">
  <div class="container mx-auto flex flex-col items-center">
    <div class="flex mt-2 text-2xl">
      <a href="#" class="mr-4 hover:text-gray-400 transition-colors duration-300">
        <span class="icon-[mdi--email]"></span>
      </a>
      <a href="#" class="mr-4 hover:text-gray-400 transition-colors duration-300">
        <span class="icon-[mdi--linkedin]"></span>
      </a>
      <a href="#" class="hover:text-gray-400 transition-colors duration-300">
        <span class="icon-[mdi--github]"></span>
      </a>
    </div>
    <p class="mt-4">&copy; 2024 Vicente Moyano | made with Astro & React</p>
  </div>
</footer>